#SECURITY
SECRET_KEY=chave-super-secreta
ALLOWED_HOSTS=127.0.0.1,localhost
DATABASE_URL=postgresql://usuario:senha@servidor:5432/banco?sslmode=require&channel_binding=require

#APP DEFINITIONS
APP_NAME=Django
APP_DEVELOPMENT=False
APP_LOCALE=pt-br
APP_TIMEZONE=America/Sao_Paulo